HTML, body {
    background-color2:darkorange;
    font-family:"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol", Arial , "Helvetica Neue";
    margin:0px;
    overflow:hidden;



    

    scrollbar-base-color:white;
    scrollbar-3dlight-color:white;
    scrollbar-track-color:white;
    scrollbar-shadow-color:white;
    scrollbar-arrow-color:white;

    -ms-scrollbar-base-color:white;
    -ms-scrollbar-3dlight-color:white;
    -ms-scrollbar-track-color:white;
    -ms-scrollbar-shadow-color:white;
    -ms-scrollbar-arrow-color:white;

    -moz-scrollbar-base-color:white;
    -moz-scrollbar-3dlight-color:white;
    -moz-scrollbar-track-color:white;
    -moz-scrollbar-shadow-color:white;
    -moz-scrollbar-arrow-color:white;

}

/*TRY TO STYLE SCROLLBAR IN SAFARI/CHROME USING WEBKIT*/

::-webkit-scrollbar { height: 12px; width: 12px; background: white; }
::-webkit-scrollbar-thumb { background: white; }
::-webkit-scrollbar-corner { background: white; }
::-webkit-scrollbar-track-piece { background-color: white; }
::-webkit-scrollbar-track:vertical { background-color: white; border: 0px dashed white; }
::-webkit-scrollbar-track:horizontal { background-color: white; border: 0px dashed white; }




/*DISABLE TEXT SELECTION*/

*::selection {
    background:transparent;
}

*::-moz-selection {
    background:transparent;
}

*::-webkit-selection {
    background:transparent;
}












#divRootUI {
    width:100%;
    height:100%;
    margin:0px;
    position:absolute;
}
.footer {
    
}
.gitcode {
    position:absolute;
    font-size:16px;
    bottom:0px;
    color:black;
    z-index:4;
    margin-left:10px;
    height:50px;
    background-image:url("/Content/Icons/github.png");
    background-size:50px;
    background-repeat:no-repeat;
    padding-left:60px;
    padding-top:10px;
    cursor:pointer;
}


#divDebugger { color:gray; font-size:11px; position: absolute; bottom: 0; right: 0; z-index:100; }
.dbgl { text-align:right; }
.divCentered { width: 50%; margin: 0px auto; }
#divLoading { margin-top:-30px; color:white; font-size:28px; margin-left: auto ; margin-right: auto ; width:150px; background-color:orangered; padding-left:30px; padding-bottom:5px; z-index:99; }







#divAppBar { background-color:#424251; width:100%; height:200px; position:absolute; vertical-align:bottom; margin:0px; padding:0px; padding-left:40px; top:-200px; z-index:5; }
#divAppBar Div { background-color:cyan; color:white; width:110px; float:left; height:110px; vertical-align:bottom; text-align:center; padding:5px; z-index:10; cursor:pointer; margin-left:0px; margin-right:10px; margin-top:40px; }
#divAppBar Div:hover {
    background-color:cadetblue;
    color:white;

    transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari and Chrome */
    -o-transform: scale(1.05,1.05); /* Opera */
    -moz-transform: scale(1.05,1.05); /* Firefox */
}
#divAppBar Div:focus {
    transform: scale(0.95,0.95);
    -ms-transform: scale(0.95,0.95); /* IE 9 */
    -webkit-transform: scale(0.95,0.95); /* Safari and Chrome */
    -o-transform: scale(0.95,0.95); /* Opera */
    -moz-transform: scale(0.95,0.95); /* Firefox */
}
#divAppBar Div:link {
    transform: scale(1,1);
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari and Chrome */
    -o-transform: scale(1,1); /* Opera */
    -moz-transform: scale(1,1); /* Firefox */

}





#divToolBar { position:absolute; background-color:white; width:100%; height:60px; vertical-align:top; margin:0px; padding:0px; top:0px; z-index:10; padding-left:50px; }
#divToolBar Div { width:auto; float:left; height:55px; vertical-align:top; margin:2px; padding:5px;  z-index:10; cursor:pointer; }
#divToolBar Div:hover { background-color:rgba(29, 29, 29, 0.10); color:white; height:44px;}
#divToolBar #imgLogo { position:absolute; left:5px; top:-10px; }
#divToolBar #divTitle { position:absolute; left:60px; top:0px; font-size:32px; z-index:3; color:white }
#divToolBar #divTitle:hover { background-color:transparent; cursor:default; }
#divToolBar .tbiTitle, #divToolBar .tbiTitle:hover { color:white; background-color:transparent; margin-top:3px; }


#divVerticalDivider { width:10px; background-color:white; height:91%; position:absolute; float:left; left:230px; top:55px; cursor:ew-resize; z-index:4; margin-left:-5px;
                      background-image:url(/Content/Reader/main_screen/handle_leftPane.png); background-size: contain; background-position:0px 50%;background-repeat:no-repeat;}
#divVerticalDivider_shadow { width:10px; background-color:#f3f3f3; height:91%; opacity:0.8; position:absolute; float:left; left:230px; top:55px; cursor:ew-resize; z-index:3; margin-left:-5px;
                             background-image:url(/Content/Reader/main_screen/handle_leftPane.png); background-size: contain; background-position:0px 50%;background-repeat:no-repeat;}


#divHorizontalDivider { width: 83%; height: 10px; position: absolute; float: left; left: 230px; top: 353px; cursor: ns-resize; z-index: 4; margin-top:-5px;
                        background-image:url(/Content/Reader/main_screen/handle_mainscreen.png); background-size: contain; background-position:50% 0;background-repeat:no-repeat;}

#divHorizontalDivider_shadow { width:83%; background-color:#f3f3f3; height:10px; opacity:0.8; position:absolute; float:left; left:230px; top:353px; cursor:ns-resize; z-index:3; margin-top:-5px; 
                               background-image:url(/Content/Reader/main_screen/handle_mainscreen.png); background-size: contain; background-position:50% 0;background-repeat:no-repeat;}





#divTopRightPanel { position:absolute; z-index:2; }
#divBottomRightPanel { position:absolute; z-index:2; }
#divLeftPanel { position:absolute; z-index:2; }












#divTinyMCE{
    z-index:2;
    position:absolute;
}
#divTinyMCE_Overlay {
    width:100%;
    height:104%;
    background-color:transparent;
    z-index:2;
    position:absolute;
    left:0px;
    top:0px;
}
.mceEditor {
    z-index:2;
}
.mceIframeContainer {
    position:relative;
    top:0px;
}











#divInfiniteCanvas { z-index: 2; position: absolute; background-color: whitesmoke; padding-top:20px;}
#divInfiniteCanvas_Overlay {
    width:100%;
    height:104%;
    background-color:transparent;
    z-index:2;
    position:absolute;
    left:0px;
    top:0px;
}
#divInfiniteCanvas  #infiniteCanvas{ z-index: 2; position: relative; background-color: white; }




















#divModernTree{
    z-index: 2;
    position: absolute;
    background-color: #660066;
}
#divModernTree_Overlay {
    width:100%;
    height:104%;
    background-color:transparent;
    z-index:2;
    position:absolute;
    left:0px;
    top:0px;
}













#divWysihtml5{
    z-index: 2;
    position: absolute;
    background-color: #660066;
}
#divWysihtml5_Overlay {
    width:100%;
    height:104%;
    background-color:transparent;
    z-index:2;
    position:absolute;
    left:0px;
    top:0px;
}















#divVideoPlayer{
    z-index: 2;
    position: absolute;
    background-color: #660066;
}
#divVideoPlayer_Overlay {
    width:100%;
    height:104%;
    background-color:transparent;
    z-index:2;
    position:absolute;
    left:0px;
    top:0px;
}















#divAudioPlayer {
    z-index: 2;
    position: absolute;
    background-color: #660066;
}
#divAudioPlayer_Overlay {
    width:100%;
    height:104%;
    background-color:transparent;
    z-index:2;
    position:absolute;
    left:0px;
    top:0px;
}



























#divModernIFrame{
    z-index: 2;
    position: absolute;
    background-color: white;
    margin-left:-50px;
    opacity:0;
}
#divModernIFrame iframe {
    width:100%;
    height:100%;
    border-width: 0px;
}
#divModernIFrame_Overlay {
    width:100%;
    height:100%;
    background-color:white;
    z-index:2;
    position:absolute;
    left:0px;
    top:0px;
}
#divModernIFrame .Loading {
    background-color:#d8d8d8;
    color:white;
    font-size:14px;
    font-weight:normal;
    z-index:2;
    position:absolute;
    left:20px;
    top:20px;
    padding:10px;
}
#divModernIFrame .Resizing {
    background-color:#d8d8d8;
    color:white;
    font-size:14px;
    font-weight:normal;
    z-index:2;
    position:absolute;
    left:20px;
    top:20px;
    padding:10px;
    
}














#divModernAccordian{
    z-index: 2;
    position: absolute;
    background-color: rgb(243, 243, 243);
    

    scrollbar-track-color:white;
    scrollbar-arrow-color:white;
    scrollbar-base-color:white;
    scrollbar-shadow-color:white;
    scrollbar-3dlight-color:white;

}
#divModernAccordian_Overlay {
    width:100%;
    height:100%;
    background-color:white;
    z-index:2;
    position:absolute;
    left:0px;
    top:0px;
}
#divModernAccordian .Loading {
    background-color:#d8d8d8;
    color:white;
    font-size:14px;
    font-weight:normal;
    z-index:2;
    position:absolute;
    left:20px;
    top:20px;
    padding:10px;
}
#divModernAccordian .Resizing {
    background-color:#d8d8d8;
    color:white;
    font-size:14px;
    font-weight:normal;
    z-index:2;
    position:absolute;
    left:20px;
    top:20px;
    padding:10px;
}
#divModernAccordian #divModernAccordianItems {
    width:100%;
    height:100%;    
    overflow:auto;
    color:black;
    
}
#divModernAccordianItems div {
    padding-right:5px;
    padding-left:5px;
    padding-top:10px;
    padding-bottom:10px;
    cursor:pointer;
}


#divModernAccordianItems .AR {
    
    margin:0px;
    color:black;
    font-size:19px;
    margin-top:10px;
    padding-left:20px;
}

#divModernAccordianItems .ARC {
    margin:0px;
    color:black;
    font-size:12px;
    padding-left:60px;
    min-height:25px;
}

#divModernAccordianItems .ARCC {
    margin:0px;
    color:black;
    font-size:12px;
    padding-left:80px;
    min-height:25px;   
}

#divModernAccordianItems .ARCCC {
    margin:0px;
    color:black;
    font-size:12px;
    padding-left:100px;
    min-height:25px;   
}

#divModernAccordianItems .ARCCCC {
    margin:0px;
    color:black;
    font-size:12px;
    padding-left:120px;
    min-height:25px;   
}

#divModernAccordianItems .ARCCCCC {
    margin:0px;
    color:black;
    font-size:12px;
    padding-left:140px;
    min-height:25px;   
}

#divModernAccordianItems .ARCCCCCC {
    margin:0px;
    color:black;
    font-size:12px;
    padding-left:160px;
    min-height:25px;   
}

#divModernAccordianItems .ARCCCCCCC {
    margin:0px;
    color:black;
    font-size:12px;
    padding-left:160px;
    min-height:25px;   
}

#divModernAccordianItems .ACSEL {
    background:darkorange;
    color:white;
    margin-right:-20px;
}

#divModernAccordianItems .ARC:hover {
    background-color:#e8e8e8;
    color:black;
}

#divModernAccordianItems .ARCC:hover {
    background-color:#e8e8e8;
    color:black;
}

#divModernAccordianItems .ARCCC:hover {
    background-color:#e8e8e8;
    color:black;
}

#divModernAccordianItems .ARCCCC:hover {
    background-color:#e8e8e8;
    color:black;
}

#divModernAccordianItems .ARCCCCC:hover {
    background-color:#e8e8e8;
    color:black;
}

#divModernAccordianItems .ARCCCCCC:hover {
    background-color:#e8e8e8;
    color:black;
}

#divModernAccordianItems .ARCCCCCCC:hover {
    background-color:#e8e8e8;
    color:black;
}

#divModernAccordianItems .childname {
    margin:0px;
    padding:0px;
    font-size:14px;
}
.divModernAccordianItems .count {
    position:absolute;
    float:right;
    margin:0px;
    padding:0px;
    margin-left:10px;
    font-size:11px;
    font-weight:bold;
}
.ARC .addinst { float:right; background-image:url("/content/Reader/main_screen/createFilter_default.png"); background-repeat:no-repeat; background-size:20px; background-position:10px 0; margin-top:-20px; width:25px; }
.ARC .addinst:hover { float:right; background-image:url("/content/Reader/main_screen/createFilter_hover.png"); background-repeat:no-repeat; background-size:20px; background-position:10px 0; margin-top:-20px; width:25px; }

.dfc div{
    /*margin-top:20px;*/
    margin-top:10px;
    margin-bottom:10px;
}
.dfc div:hover{
    background-color:rgba(255, 255, 255, 0.28);
}


.ks_mb {
    background-image:url("/content/Reader/main_screen/mail_unread.png");
    background-repeat:no-repeat;
    background-position:40px 12px;
}
.ks_rec {
    background-image:url("/content/Reader/main_screen/record_default_leftPane.png");
    background-repeat:no-repeat;
    background-size:17px;
    background-position:40px 12px;
}
.ks_rec2 {
    background-image:url("/content/Reader/main_screen/record_default_leftPane.png");
    background-repeat:no-repeat;
    background-size:17px;
    background-position:60px 12px;
}
.ks_rec3 {
    background-image:url("/content/Reader/main_screen/record_default_leftPane.png");
    background-repeat:no-repeat;
    background-size:17px;
    background-position:80px 12px;
}
.ks_rec4 {
    background-image:url("/content/Reader/main_screen/record_default_leftPane.png");
    background-repeat:no-repeat;
    background-size:17px;
    background-position:100px 12px;
}
.ks_rec5 {
    background-image:url("/content/Reader/main_screen/record_default_leftPane.png");
    background-repeat:no-repeat;
    background-size:17px;
    background-position:120px 12px;
}
.ks_rec6 {
    background-image:url("/content/Reader/main_screen/record_default_leftPane.png");
    background-repeat:no-repeat;
    background-size:17px;
    background-position:140px 12px;
}
.ks_rec7 {
    background-image:url("/content/Reader/main_screen/record_default_leftPane.png");
    background-repeat:no-repeat;
    background-size:17px;
    background-position:160px 12px;
}
.ks_rec8 {
    background-image:url("/content/Reader/main_screen/record_default_leftPane.png");
    background-repeat:no-repeat;
    background-size:17px;
    background-position:180px 12px;
}
.ks_fold {
    background-image:url("/content/Reader/main_screen/nofilter_default_leftPane.png");
    background-repeat:no-repeat;
    background-size:17px;
    background-position:60px 12px;
}
.ks_fold2 {
    background-image:url("/content/Reader/main_screen/nofilter_default_leftPane.png");
    background-repeat:no-repeat;
    background-size:17px;
    background-position:80px 12px;
}
.ks_foldplus {
    background-image:url("/content/Reader/main_screen/filter_default_leftPane.png");
    background-repeat:no-repeat;
    background-size:17px;
    background-position:60px 12px;
}























#divDataGrid{
    z-index: 2;
    position: absolute;
    background-color: white;
}
#divDataGrid_Overlay {
    width:100%;
    height:100%;
    background-color:white;
    z-index:2;
    position:absolute;
    left:0px;
    top:0px;
}
#divDataGrid .Loading {
    background-color:#d8d8d8;
    color:white;
    font-size:14px;
    font-weight:normal;
    z-index:2;
    position:absolute;
    left:20px;
    top:20px;
    padding:10px;
}
#divDataGrid .Resizing {
    background-color:#d8d8d8;
    color:white;
    font-size:14px;
    font-weight:normal;
    z-index:2;
    position:absolute;
    left:20px;
    top:20px;
    padding:10px;
}
#divDataGrid #divDataGridItems {
    width:100%;
    height:100%;
    overflow:auto;
}
#divDataGridItems div {
    padding-right:5px;
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    cursor:pointer;
}
#divDataGridItems .DGRHidden {
    position:relative;
    margin:0px;
    height:22px;
    margin-top:5px;
    padding-left:20px;
    width:1600px;
} 
#divDataGridItems .DGR {
    position:relative;
    margin:0px;
    color:black;
    font-size:19px;
    margin-top:5px;
    padding-left:20px;
    padding-top:10px;
    height:30px;
    width:1600px;
    opacity:0;
    margin-left:-20px;
}
#divDataGridItems .DGR:hover {
    background-color:rgb(243, 243, 243);
    color:black;
}

#divDataGridItems .colChecked {
    width: 20px;
    height: 20px;
    margin-right:20px;
    display: block;
    clear: left;
    float: left;
    margin-top:-5px;


}



#divDataGridItems .col {
    float:left;
    margin:0px;
    padding:0px;
    font-size:14px;
    width:220px;
    margin-top:-8px;
}


#divDataGridHeaderItems .DGCHR {
    position:absolute;
    top:0px;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:0px;
    font-size:19px;
    padding-top:10px;
    height:60px;
    width:95.7%;
    background-color:white;
    border-bottom:1px solid #F1F0F9;
}

.DGCHR .TB {
    float:left;

}
.DGCHR .TB .TBB{
    
    float:left;
    color:black;
    font-size:12px;
    height:32px;
    width:80px;
    text-align:center;
    padding-top:30px;
    cursor:pointer;
    opacity:0;
    margin-left:-10px;
}
.DGCHR .TB .TBB:hover {
    
    transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari and Chrome */
    -o-transform: scale(1.05,1.05); /* Opera */
    -moz-transform: scale(1.05,1.05); /* Firefox */
}
.DGCHR .TB .TBB:focus {
    transform: scale(0.95,0.95);
    -ms-transform: scale(0.95,0.95); /* IE 9 */
    -webkit-transform: scale(0.95,0.95); /* Safari and Chrome */
    -o-transform: scale(0.95,0.95); /* Opera */
    -moz-transform: scale(0.95,0.95); /* Firefox */
}
.DGCHR .TB .TBB:link {
    transform: scale(1,1);
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari and Chrome */
    -o-transform: scale(1,1); /* Opera */
    -moz-transform: scale(1,1); /* Firefox */
}




.TBNew {background-image:url("/Content/icons/light/rss.png");background-position:15px -10px;background-size:50px; background-repeat:no-repeat;}
.TBReply {background-image:url("/Content/icons/light/favs.png");background-position:15px -10px;background-size:50px; background-repeat:no-repeat;}
.TBReplyAll {background-image:url("/Content/icons/light/microphone.png");background-position:15px -10px;background-size:50px; background-repeat:no-repeat;}
.TBUpdateFwd {background-image:url("/Content/icons/light/feature.camera.png");background-position:15px -10px;background-size:50px; background-repeat:no-repeat;}
.TBSendAs {background-image:url("/Content/icons/light/feature.email.png");background-position:15px -10px;background-size:50px; background-repeat:no-repeat;}
.TBMore {background-image:url("/Content/icons/light/feature.calendar.png");background-position:15px -10px;background-size:50px; background-repeat:no-repeat;}
.TBSupport {background-image:url("/Content/icons/light/feature.video.png");background-position:15px -10px;background-size:50px; background-repeat:no-repeat;}


.DGSRCH {
    position:absolute;
    left:0px;
    top:0px;
    float:right;
    margin-top:-20px;
    opacity:0;
}
.DGSRCH .TBSRCHText{
    float:left;
    width:170px;
    background-color:#a8cee5;
    background-image:url("/Content/Reader/main_screen/downArrow_white.png");
    background-repeat:no-repeat;
    background-position:140px 13px;
    cursor:pointer;
    color:white;
}
.DGSRCH .TBSRCHText input {
    padding:5px;
    padding-left:15px;
    margin:0px;
    height:27px;
    background-color:transparent;
    border:none;
    color:white;
    cursor:pointer;
}
.DGSRCH .TBSRCHText input:focus {
    background-color:transparent;
}
.DGSRCH .TBSRCH{
    float:left;
    height:37px;
    margin-left:2px;
    width:40px;
    background-color:#a8cee5;
    background-image:url("/Content/icons/dark/feature.search.png");
    background-repeat:no-repeat;
    background-size:40px;
    background-position:0px 0px;
    cursor:pointer;
}
.DGSRCH .TBSRCH:hover {
    
    transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari and Chrome */
    -o-transform: scale(1.05,1.05); /* Opera */
    -moz-transform: scale(1.05,1.05); /* Firefox */
}
.DGSRCH .TBSRCH:focus {
    transform: scale(0.95,0.95);
    -ms-transform: scale(0.95,0.95); /* IE 9 */
    -webkit-transform: scale(0.95,0.95); /* Safari and Chrome */
    -o-transform: scale(0.95,0.95); /* Opera */
    -moz-transform: scale(0.95,0.95); /* Firefox */
}
.DGSRCH .TBSRCH:link {
    transform: scale(1,1);
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari and Chrome */
    -o-transform: scale(1,1); /* Opera */
    -moz-transform: scale(1,1); /* Firefox */
}



.DGAVSRCH { position:absolute; left:0px; top:50px; float:right; opacity:0; height:0px; width:300px; z-index:10; }






#divDataGridHeaderItems .DGPFOOTER {
    position:absolute;
    top:0px;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:0px;
    font-size:19px;
    padding-left:18px;
    padding-top:10px;
    height:40px;
    width:95.7%;
    background-color:white;
    border-bottom:1px solid #F1F0F9;
}
#divDataGridHeaderItems .colh {
    float:left;
    margin:0px;
    color:white;
    padding:0px;
    font-size:14px;
    width:220px;
    
}
.DGPFOOTER .TBP { float:right; margin-right:20px;}
.DGPFOOTER .TBP .TBPB{
    float:right;
    color:black;
    font-size:12px;
    height:40px;
    width:55px;
    text-align:center;
    padding-top:30px;
    cursor:pointer;
}
.DGPFOOTER .TBP .TBPBAn {
    opacity:0;
    margin-bottom:0px;
}
.DGPFOOTER .TBP .TBPB:hover {
    
    transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari and Chrome */
    -o-transform: scale(1.05,1.05); /* Opera */
    -moz-transform: scale(1.05,1.05); /* Firefox */
}
.DGPFOOTER .TBP .TBPB:focus {
    transform: scale(0.95,0.95);
    -ms-transform: scale(0.95,0.95); /* IE 9 */
    -webkit-transform: scale(0.95,0.95); /* Safari and Chrome */
    -o-transform: scale(0.95,0.95); /* Opera */
    -moz-transform: scale(0.95,0.95); /* Firefox */
}
.DGPFOOTER .TBP .TBPB:link {
    transform: scale(1,1);
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari and Chrome */
    -o-transform: scale(1,1); /* Opera */
    -moz-transform: scale(1,1); /* Firefox */
}



.TBL2 {background-image:url("/Content/icons/light/transport.rew.png");background-position:10px -10px;background-size:50px; background-repeat:no-repeat;}
.TBL1 {background-image:url("/Content/icons/light/back.png");background-position:10px -5px;background-size:40px; background-repeat:no-repeat;}
.TBR1 {background-image:url("/Content/icons/light/next.png");background-position:10px -5px;background-size:40px; background-repeat:no-repeat;}
.TBR2 {background-image:url("/Content/icons/light/transport.ff.png");background-position:10px -10px;background-size:50px; background-repeat:no-repeat;}
.TBBox {
    float:right;
    border: 1px solid #e4e4e4;
    width:35px;
    font-size:12px;
    text-align:center;
    height:25px;
    padding-top:10px;
    cursor:pointer;
    margin-top:-5px;
}
.TBPlaceHolder {
    float:right;
    padding-left:15px;
    padding-right:15px;
    font-size:12px;
    padding-top:5px;
}













#divNotifications {
    position:absolute;
    z-index: 10;
    top:20px;
    background-color: transparent;
    height:100%;
}
#divNotifications div{
    z-index: 3;
    width:250px;
    color:white;
    background-color:#cc3800;
    margin-bottom:10px;
    padding:10px;
}


















#divSearchBox {
    z-index: 2;
    position: absolute;
    background-color: transparent;
}
#divSearchBox_Overlay {
    width:100%;
    background-color:transparent;
    z-index:2;
    position:absolute;
    left:0px;
    top:0px;
}
#divSearchBox_TB {
    height:35px;
    background-color:white;
    border:solid 2px lightgrey;
    position:absolute;
    left:10px;
    top:10px;
    color:black;
    font-size:16px;
    padding-left:10px;
}
#divSearchBox .icoSearch {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
    opacity:0.4;
    display:none;
}
#divSearchBox_popup {
    display:none;
    border:solid 2px lightgrey;
    position:absolute;
    height:200px;
    background-color:white;

}


































































#divLogin01 {
    position:absolute;
    background-color:Orange;
    z-index:3;
    display:none;
}

    #divLogin01 .authMail {
        float:left;
        margin-left:40px;
        margin-top:60px;
        width: 120px;
        height: 120px;
        background-color:#0281d5;
        cursor:pointer;

        
        background-image:url('/Content/Icons/MetroIcons/96x96/Other/Mail.png');
        background-position:25px 25px;
        background-size:70px;
        background-repeat:no-repeat;
    }
    #divLogin01 .authMail:hover { background-color:#0470b7 }
    #divLogin01 .authLogin {
        float:left;
        margin-left:30px;
        margin-top:60px;
        width: 120px;
        height: 120px;
        background-color:#0281d5;
        cursor:pointer;


        background-image:url('/Content/Icons/MetroIcons/96x96/Applications/Live Messenger alt 3.png');
        background-position:25px 25px;
        background-size:70px;
        background-repeat:no-repeat;
    }
    #divLogin01 .authLogin:hover { background-color:#0470b7  }
    #divLogin01 .authSearch {
        float:left;
        margin-left:30px;
        margin-top:60px;
        width: 120px;
        height: 120px;
        background-color:#228500;
        cursor:pointer;

        background-image:url('/Content/Icons/MetroIcons/96x96/Other/Search.png');
        background-position:25px 25px;
        background-size:70px;
        background-repeat:no-repeat;
    }
    #divLogin01 .authSearch:hover { background-color:#1c6902}

















#divAppBarUsers { background-color:#424251; width:100%; height:300px; position:absolute; vertical-align:bottom; margin:0px; padding:0px; padding-left:40px; top:-300px; z-index:5; }
#divAppBarUsers .ABUsers {
    margin:20px;
}
#divAppBarUsers .ABUsers div{
    cursor:pointer;
    color:white;
    float:left;
    font-size:18px;
    height:40px;
    width:350px;
    padding-left:10px;
    padding-top:10px;
}
/*#divAppBarUsers .ABUsers div:hover {
    background-color:#343434;
}*/


#divAppBarUsers #divABUsersList {
    height: 250px;
    overflow:auto;

}












#divAppBarProjects { background-color:#424251; width:100%; height:300px; position:absolute; vertical-align:bottom; margin:0px; padding:0px; padding-left:40px; top:-300px; z-index:5; }
#divAppBarProjects .ABProjects {
    margin:20px;
}
#divAppBarProjects .ABProjects div{
    cursor:pointer;
    color:white;
    float:left;
    font-size:18px;
    height:40px;
    width:320px;
    padding-left:10px;
    padding-top:10px;
}
#divAppBarProjects #divABProjectsList {
    float:left;
    height: 250px;
    overflow:auto;
    margin-right:320px;

    scrollbar-base-color:#424251;
    scrollbar-3dlight-color:#424251;
    scrollbar-track-color:#424251;
    scrollbar-shadow-color:#424251;
    scrollbar-arrow-color:#424251;
}
#divABProjectsListFilter {
    height: 250px;
    width:250px;
    overflow:auto;
    z-index:20;
    top:20px;
    float:right;
    margin-top:-260px;
    margin-right:20px;

    scrollbar-base-color:#424251;
    scrollbar-3dlight-color:#424251;
    scrollbar-track-color:#424251;
    scrollbar-shadow-color:#424251;
    scrollbar-arrow-color:#424251;
}
#divABProjectsListFilter div{
    float:left;
    cursor:pointer;
    color:white;
    font-size:18px;
    height:40px;
    width:50px;
    margin:5px;
    padding-top:8px;
    padding-bottom:0px;
    text-align:center;
    border:solid 1px #333;
}

















#divModernIFrameNewMessage {
    z-index: 2;
    position: absolute;
    background-color: white;
    left:0px;
    top:50px;
    width:100%;
    height:95%;

}
#divModernIFrameNewMessage iframe {
    width:100%;
    height:100%;
    border-width: 0px;
}




























.test {
    color:#89bbdc;
    background-repeat:no-repeat;
    border-top: 5px solid red;
}






